

  
  
 body { background-color: rgb(255, 255, 255);
  margin: 0px;
  
  



  }
  .titel {color: rgb(0, 0, 0);
  text-size-adjust: ;}
  .upper {background-color: rgb(136, 232, 243);
  margin: 0px;
  padding-top: 30px;
  float: ;


  }
  .img {block-size: 100px; 

}
  .search {height: 20px;
 
color: rgb(0, 0, 0);
background-color:rgb(136, 232, 243);
}

.textbutton {
 background-color: rgb(136, 232, 243);
}
