body {
  background-color: rgb(255, 255, 255); 
}

.header{ 
  background-color:rgb(86, 196, 254);
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  color: white;
}
.list {
  color: white;
  display: flex;
}
.list :hover {
  color: black
}
.menustreepjes :hover{
  color: white;
}
.test {
  color: black;}
  .list { list-style: none;
     
  }
