body {
  margin: 0px;
  padding: 0px;
}
.header { background-color: purple;
    size: 400;
    padding:0px;}

.html  {margin: 0px;}

.titel{color: black;
       margin: 0px;
    }

.menu {color:blue;}

.en {margin: 0px;}